.App {
  text-align: center;
}

.section{
  position: relative;
  width: 500px;
  height: 500px;

}

.userCard{
  width: 200px;
  height: 150px;
  margin: 5px auto;
  position: absolute;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

